/* ==== Flexy Elements ==== */
.flexy-container {
  display: -webkit-flex;
  display: flex;
}

.flexy-container-inline {
  display: -webkit-inline-flex;
  display: inline-flex;
}

/*
    The items below should always have a parent flex container in order for them to work as expected
*/

/* Rows */
.flexy-row {
  flex-direction: row;
}

.flexy-row-reverse {
  flex-direction: row-reverse;
}

/* Columns */
.flexy-column {
  flex-direction: column;
}

.flexy-column-reverse {
  flex-direction: column-reverse;
}

/* Horizontal Alignment */
.flexy-justify {
  &--left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  &--right {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  &--center {
    -webkit-justify-content: center;
    justify-content: center;
  }

  &--between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  &--around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}

/* Vertical Alignment */
.flexy-align {
  &--top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  &--bottom {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }

  &--center {
    -webkit-align-items: center;
    align-items: center;
  }

  &--baseline {
    -webkit-align-items: baseline;
    align-items: baseline;
  }

  &--stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
  }
}

/* Flex Wrap */
.flexy-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexy-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flexy-nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* ==== Flexy Items ==== */

.flexy-item {
  /* Sets default value to be distributed evenly by default*/
  @extend %flexy-item;
}

/* Margin */
.flexy-item-auto {
  margin: auto;

  &--left {
    margin-left: auto;
  }

  &--right {
    margin-right: auto;
  }
}

/* Align Self */
.flexy-item-align {
  &--top {
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }

  &--bottom {
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }

  &--center {
    -webkit-align-self: center;
    align-self: center;
  }

  &--baseline {
    -webkit-align-self: baseline;
    align-self: baseline;
  }

  &--stretch {
    -webkit-align-self: stretch;
    align-self: stretch;
  }
}

.custom-container {
  div:nth-child(2) {
    @include flexyItem(5);
  }
}

.dashboard {
  div:nth-child(2) {
    @include flexyItem(8);
  }
  &__body {
    div:nth-child(2) {
      @include flexyItem(3);
    }
  }
}
