/* ==== Flexy Elements ==== */
.flexy-container {
  @include flexy-container;
}

.flexy-container-inline {
  @include flexy-container-inline;
}

/*
    The items below should always have a parent flex container in order for them to work as expected
*/

/* Rows */
.flexy-row {
  @include flexy-row;
}

.flexy-row-reverse {
  @include flexy-row-reverse;
}

/* Columns */
.flexy-column {
  @include flexy-column;
}

.flexy-column-reverse {
  @include flexy-column-reverse;
}

/* Horizontal Alignment */
.flexy-justify {
  &--left {
    @include flexy-justify('left');
  }

  &--right {
    @include flexy-justify('right');
  }

  &--center {
    @include flexy-justify('center');
  }

  &--between {
    @include flexy-justify('between');
  }

  &--around {
    @include flexy-justify('around');
  }
}

/* Vertical Alignment */
.flexy-align {
  &--top {
    @include flexy-align('top');
  }

  &--bottom {
    @include flexy-align('bottom');
  }

  &--center {
    @include flexy-align('center');
  }

  &--baseline {
    @include flexy-align('baseline');
  }

  &--stretch {
    @include flexy-align('stretch');
  }
}

/* Flex Wrap */
.flexy-wrap {
  @include flexy-wrap;
}

.flexy-wrap-reverse {
  @include flexy-wrap-reverse;
}

.flexy-nowrap {
  @include flexy-nowrap;
}

/* ==== Flexy Items ==== */
.flexy-item {
  /* Sets default value to be distributed evenly by default*/
  flex: 1;
}

/* Margin */
.flexy-item-auto {
  @include flexy-item-auto;

  &--left {
    @include flexy-item-auto('left');
  }

  &--right {
    @include flexy-item-auto('right');
  }
}

/* Align Self */
.flexy-item-align {
  &--top {
    @include flexy-item-align('top');
  }

  &--bottom {
    @include flexy-item-align('bottom');
  }

  &--center {
    @include flexy-item-align('center');
  }

  &--baseline {
    @include flexy-item-align('baseline');
  }

  &--stretch {
    @include flexy-item-align('stretch');
  }
}

/* Flex Basis */
.flexy-basis {
  &--half {
    @include flexy-basis(50%);
  }

  &--third {
    @include flexy-basis(33.333333%);
  }

  &--quarter {
    @include flexy-basis(25%);
  }
}

.custom-container {
  div:nth-child(2) {
    @include flexy-item(5);
  }
}

.dashboard {
  div:nth-child(2) {
    @include flexy-item(8);
  }
  &__body {
    div:nth-child(2) {
      @include flexy-item(3);
    }
  }
}
