@mixin flexy-container {
  display: -webkit-flex;
  display: flex;
}

@mixin flexy-container-inline {
  display: -webkit-inline-flex;
  display: inline-flex;
}

/* Rows */
@mixin flexy-row {
  flex-direction: row;
}

@mixin flexy-row-reverse {
  flex-direction: row-reverse;
}

/* Columns */
@mixin flexy-column {
  flex-direction: column;
}

@mixin flexy-column-reverse {
  flex-direction: column-reverse;
}

/* Alignment */
@mixin flexy-justify($direction: '') {
  @if ($direction == 'start') {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  } @else if ($direction == 'end') {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  } @else if ($direction == 'center') {
    -webkit-justify-content: center;
    justify-content: center;
  } @else if ($direction == 'between') {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  } @else if ($direction == 'around') {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  } @else if ($direction == 'even') {
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  } @else {
    -webkit-justify-content: $direction;
    justify-content: $direction;
  }
}

@mixin flexy-align-items($direction: '') {
  @if ($direction == 'start') {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  } @else if ($direction == 'end') {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  } @else if ($direction == 'center') {
    -webkit-align-items: center;
    align-items: center;
  } @else if ($direction == 'baseline') {
    -webkit-align-items: baseline;
    align-items: baseline;
  } @else if ($direction == 'stretch') {
    -webkit-align-items: stretch;
    align-items: stretch;
  } @else {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}

// TODO: Add examples and class variations
@mixin flexy-align-content($direction: '') {
  @if ($direction == 'top') {
    -webkit-align-content: flex-start;
    align-content: flex-start;
  } @else if ($direction == 'bottom') {
    -webkit-align-content: flex-end;
    align-content: flex-end;
  } @else if ($direction == 'center') {
    -webkit-align-content: center;
    align-content: center;
  } @else if ($direction == 'baseline') {
    -webkit-align-content: baseline;
    align-content: baseline;
  } @else if ($direction == 'stretch') {
    -webkit-align-content: stretch;
    align-content: stretch;
  } @else {
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
}

@mixin flexy-align-self($direction: '') {
  @if ($direction == 'start') {
    -webkit-align-self: flex-start;
    align-self: flex-start;
  } @else if ($direction == 'end') {
    -webkit-align-self: flex-end;
    align-self: flex-end;
  } @else if ($direction == 'center') {
    -webkit-align-self: center;
    align-self: center;
  } @else if ($direction == 'baseline') {
    -webkit-align-self: baseline;
    align-self: baseline;
  } @else if ($direction == 'stretch') {
    -webkit-align-self: stretch;
    align-self: stretch;
  } @else {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}

/* Wrapping */
@mixin flexy-wrap($wrapType: nowrap) {
  -webkit-flex-wrap: $wrapType;
  flex-wrap: $wrapType;
}

/* ==== Flexy Items ==== */

/* Margin */
@mixin flexy-item-margin($direction: '') {
  @if ($direction == 'auto') {
    margin: auto;
  } @else if ($direction == 'left') {
    margin-left: auto;
  } @else if ($direction == 'right') {
    margin-right: auto;
  } @else {
    margin: auto;
  }
}

@mixin flexy-item($amount: 1) {
  flex: $amount
}

@mixin flexy-basis($percentage: 100%) {
  flex-basis: $percentage;
}

// TODO: Add examples and class variations
@mixin flexy-order($order) {
  -webkit-order: $order;
  order: $order;
}


